
{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <br><h2>My Payees List</h2>
            <br><p>View, Add and delete payees from your list.</p>
            <form action = "/payees" method = "POST">
                <table align="left" class="table table-striped">
                    <tr>
                        <td align="left"><h4>Name</h4></td>
                        <td align="center"><h4>Sort-Code</h4></td>
                        <td align="center"><h4>Account Number</h4></td>
                        <td align="center"><h4>Reference</h4></td>
                    </tr>

                    {% for payee in data['my_payees'] %} 
                    <tr>
                        <td align="left"> {{ payee['payee_name'] }} </td>
                        <td align="center"> {{ payee['payee_sort_code'] }} </td>
                        <td align="center"> {{ payee['payee_acc_number'] }} </td>
                        <td align="center"> {{ payee['payee_ref'] }} </td>
                    </tr>
                    {% endfor %}
                    
                </table>    
            
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">The selected Payee will be deleted. Continue?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input class="btn btn-danger" type="submit" value="Continue">
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
    </article>
    <div class="content-section" style="text-align: left;">
        <br><h4>Payee Actions</h4>
        <br><h4>Add Payee</h4>
        To Add a new Payee, click <a href="{{ url_for('actions.add_payee') }}">here</a>.
        
    </div>

    <div class="content-section" style="text-align: left;">
        <br><h4>Delete Payee</h4>
        <br>To Delete a new Payee, click <a href="{{ url_for('actions.delete_payee') }}">here</a>.

    </div></p><br>

    <div class="content-section">
        <a href="{{ url_for('views.accounts') }}">Return to Account Summary</a>
    </div>
    <br><br>
{% endblock %}
